{% extends "base.html" %}
{% load static %}
{% block intro %}


<!-- FORMULARIO DE REGISTRAR UN NUEVO PRODUCTO QUE REALIZA SU FUNCION MEDIANTE AYAX  -->
    <form method="post" id="formito1">
        {% csrf_token %}
        {{ form.as_p }}

                <div class="container-contact100-form-btn">
                    <div class="contact100-form-btn">
                        <input id="botoncit" class="limpito" type="submit" value="Registrar">
                    </div>
                </div>
    </form>


<article class="atras">
  <a href = "http://127.0.0.1:8000/miApp/productos/" id="enlace">
    <div class="container-contact100-form-btn">
        <button class="contact100-form-btn limpito">
             Atrás
        </button>
    </div>
  </a>
</article>



<script src = "{% static 'JS/form1.js' %}"></script>



<!-- ESTILO DE BLOQUE -->
<style>

    h1{
        text-align:center;
        margin:0;
    }


    #formito1{
        height:20%;
        font-size: 16px;
        box-size:50%;
    }


</style>
{% endblock intro %}



{% block contenido %}

<div id="popup"></div>

<!-- ESTILO DE BLOQUE-->

<style>
	#main > #work{
		background: linear-gradient(135deg, #6A8FF0 0%, #E86DEC 100%);
		}

	#popup p{
	    color:white;

	}
</style>

{% endblock contenido %}
