{% extends "base.html" %}
{% load static %}

{% block intro %}

<!-- FORMULARIOS GENERADOS POR DJANGO-->
    <form method="post" id="formito">
        {% csrf_token %}
        {{ form.as_p }}



                <div class="container-contact100-form-btn">
                    <button class="contact100-form-btn">
                        <input class="limpito" type="submit" value="Registrar">
                    </button>
                </div>
    </form>

<!-- ESTILO DE BLOQUE -->
<style>
    h1{
        text-align:center;
        margin:0;
    }


    #formito{
        height:10%;
        font-size: 16px;
        box-size:50%;
    }
</style>

{% endblock intro %}


{% block contenido %}

<!-- ESTILO DE BLOQUE -->
<style>
	#main > #work{
		background: linear-gradient(135deg, #6A8FF0 0%, #E86DEC 100%);
		}
</style>
{% endblock contenido %}
