{% extends "base.html" %}

{% block intro %}

    <form method="post" id="formito">
        {% csrf_token %}
        {{ form.as_p }}


                <div class="container-contact100-form-btn">
                    <button class="contact100-form-btn">
                        <input class="limpito" type="submit" value="Registrar">
                    </button>
                </div>
    </form>


<style>

    #formito{
        height:20%;

    }

</style>


{% endblock intro %}


{% block contenido %}
<style>
	#main > #work{
		background: linear-gradient(135deg, #6A8FF0 0%, #E86DEC 100%);
		}
</style>
{% endblock contenido %}
