{% extends "base.html" %}
{% block contenido %}

<table class="tabla">
                <colgroup>
                    <col span="5">
                <a href = "clientes/añadir">[Añadir]</a>
                <thead>
                    <tr>
                        <td>CIF</td>
                        <td>Empresa</td>
                        <td>Telefono</td>
                    </tr>
                </thead>

                <tbody>
                    {% for cli in lista_clientes %}
                    <tr>
                        <td>{{cli.CIF}}</td>
                        <td>{{cli.empresa}}</td>
                        <td>{{cli.telefono}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
</table>

{% endblock %}
