{% extends "base.html" %}

{% block intro %}

				<form action="{% url= 'cliente_añadido' %}" method="post" class="contact100-form validate-form">
					{% csrf_token %}
                    <!-- CIF -->
					<div class="wrap-input100 validate-input" data-validate = "Se requiere introducir un cif">
						<input class="input100" type="text" name="cif" placeholder="CIF/DNI">
						<span class="focus-input100"></span>
					</div>

					<!-- EMPRESA -->
					<div class="wrap-input100 validate-input" data-validate = "Se requiere introducir un nombre de empresa">
						<input class="input100" type="tex" name="empresa" placeholder="Empresa">
						<span class="focus-input100"></span>
					</div>

					<!-- TELEFONO -->
					<div class="wrap-input100 validate-input" data-validate = "Se requiere introducir un telefono">
						<input class="input100" type="number" name="telefono" placeholder="Telefono">
						<span class="focus-input100"></span>
					</div>

                    <div class="container-contact100-form-btn">
						<button class="contact100-form-btn">
							AÑADIR
						</button>

                    </div>
                </form>
{% endblock intro %}

{% block contenido %}

<table class="tabla">
                <colgroup>
                    <col span="5">
                <thead>
                    <tr>
                        <td>CIF</td>
                        <td>Empresa</td>
                        <td>Telefono</td>
                    </tr>
                </thead>

                <tbody>
                    {% for cli in lista_clientes %}
                    <tr>
                        <td>{{cli.CIF}}</td>
                        <td>{{cli.empresa}}</td>
                        <td>{{cli.telefono}}</td>
                        <td><a id="mas" href = "http://127.0.0.1:8000/miApp/clientes/{{cli.id}}">[+]</a></td>

                    </tr>
                    {% endfor %}
                </tbody>
</table>

{% endblock %}
