{% extends "base.html" %}

{% block intro %}
    <form method="post">{% csrf_token %}
        <p id="eliminar">Confirma para eliminar el cliente:</p>
        <p>CIF : {{ cliente.CIF }}<br><br>
        Empresa: {{ cliente.empresa }}<br><br>
        Telefono: {{ cliente.telefono }}</p>
        <br>

        <div class="container-contact100-form-btn">
                    <button class="contact100-form-btn">
                        <input class="limpito" type="submit" value="Confirm">
                    </button>
        </div>

    </form>

{% endblock intro %}

{% block contenido %}

<style>
	#main > #work{
		background: linear-gradient(135deg, #6A8FF0 0%, #E86DEC 100%);
		}
</style>

{% endblock %}
