{% extends "base.html" %}
{% load static %}
{% block intro %}

<!-- VENTANA DE ELIMINACIÓN DEL COMPONENTE SELECCIONADO  -->
    <form method="post">{% csrf_token %}
        <p id="eliminar">Confirma para eliminar el componente:</p>
        <p>    Código: {{ componente.codigo }} </p>
        <p>    Marca: {{ componente.marca }}   </p>
        <p>    Modelo: {{ componente.modelo }} </p>


        <div class="container-contact100-form-btn">
            <button class="contact100-form-btn">
                <input class="limpito" type="submit" value="Confirm" >
            </button>
        </div>
    </form>

{% endblock intro %}

{% block contenido %}

<!-- ESTILO DE BLOQUE  -->
<style>
	#main > #work{
		background: linear-gradient(135deg, #6A8FF0 0%, #E86DEC 100%);
		}
</style>
{% endblock contenido %}
