{% extends "base.html" %}

{% block intro %}

    <section id="productos" class="clear">
            <a href = "http://127.0.0.1:8000/miApp/componentenuevo/" id="enlace">
                <div class="container-contact100-form-btn">
                    <button class="contact100-form-btn">
                    Añadir
                    </button>
                </div>
            </a>

    </section>

{% endblock intro %}


{% block contenido %}
<div>
    <table class="tabla">

                <colgroup>
                    <col span="5">

                <thead>
                    <tr>
                        <td>Código</td>
                        <td>Marca</td>
                        <td>Modelo</td>
                    </tr>
                </thead>

                <tbody>
                    {% for comp in lista_componente %}
                    <tr>
                        <td>{{comp.codigo}}</td>
                        <td>{{comp.marca}}</td><!-- Aqui añadir un enlace a dicho producto.ref-->
                        <td>{{comp.modelo}}</td>
						<td><a id="eliminar" href = "http://127.0.0.1:8000/miApp/componenteeliminar/{{comp.id}}">
                            <img src="https://static.vecteezy.com/system/resources/previews/000/442/652/non_2x/delete-vector-icon.jpg" width="38px">
                        </a></td>
						<td><a id="editar" href = "http://127.0.0.1:8000/miApp/componenteeditar/{{comp.id}}">
                            <img src="https://png.pngtree.com/png-clipart/20190630/original/pngtree-vector-pencil-icon-png-image_4152536.jpg" width="35px">
                        </a></td>
                    </tr>
                    {% endfor %}
                </tbody>
    </table>
</div>

{% endblock contenido %}

