{% extends "base.html" %}
{% load static %}
{% block intro %}


<!-- SELECTOR DE PEDIDOS DE JSON -->

<section id="productos" class="clear">

    <article class="productos">
        <h2>Factura de pedidos</h2>
        <p id="rango1">Selecciona el pedido por ID para adjuntar la factura correspondiente.</p>
    </article>

    <article class="productos">
        <form method="POST" action="page2.php" class="container-contact100-form-btn">
            <input class="limpito" id="num" type="number" name="total" placeholder="Nº pedido">
        </form>
        <p id="fecha"></p>
        <p id="precio"></p>
        <button class="contact100-form-btn" id="loadBtn1" type="button">Cargar</button>
    </article>

    <article class="lastbox">
        <ul id="ay"></ul>
        <label id="loadBtn2">Click para ver disponibles</label>
    </article>


    <script src="{% static 'JS/fetch_script.js' %}"></script>
    {% endblock intro %}


    {% block contenido %}

    <h2>Subida de documentos</h2>
    <p>Archivos admitidos.jpg</p>

    <!-- FILE UPLOADER -->
    <div id="examinador">
        <img src="https://image.freepik.com/vector-gratis/examinar-concepto-archivos_1459-2303.jpg"
             alt="examinar-archivos" width="80px" accept=".image, .jpeg, .jpg">
        <form action="{%url 'facturas'%}" method="POST" enctype="multipart/form-data">
            {{ formulario.imagen }}
            <input type="submit" value="Enviar"/>
        </form>
    </div>

    <div id="doc">
        {% for factura in facturas %}
        <div class="factura">
            <img src="../media/{{factura.imagen}}" alt="factura" width="800px"/>
            <span>{{factura.fecha}}</span>
        </div>
        {%endfor%}
    </div>

    <script src="{% static 'JS/file_upload.js' %}"></script>

    <style>
 #doc{
    float: center;
	height: auto;
	width: 100%;
	border: 1px solid #ddd;
	overflow-y: scroll;
	overflow-x: scroll;
	margin: 20px;
}

#examinador{
    margin-top:0px;
}


    </style>

    {% endblock contenido %}
