{% extends "pedidos.html"%}
{% block nuevopedido %}

<!--Pedido desde Cliente existente-->
<form action="." method="post">
        {% csrf_token %}
        <p>
            <label>Código</label>
            <input type="text" name="Codigo">
        </p>
        <p>
            <label>Fecha</label>
            <input type="date" name="Fecha">
        </p>
        <p><!--COMO HAGO PA QUE ME SAQUE LA LISTA??-->
            <label>Cliente</label>
            <select id="cliente" name="Cliente">
                <optgroup label="cliente">
                    {% for cli in lista_clientes %}
                    <option>{{cli.empresa}}</option>
                    {% endfor %}
                </optgroup>
            </select>
        </p>
        <p><!--COMO HAGO PA QUE ME SAQUE LA LISTA??-->
            <label>Productos</label>
            <select id="productos" name="Productos">
                <optgroup label="product">
                    {% for prod in lista_productos %}
                    <option>{{prod.nombre}}</option>
                    {% endfor %}
                </optgroup>
            </select>
        </p>
        <p>
            <label>Cantidad</label>
            <input type="number" name="Cantidad">
        </p>
        <p><!-- SUMATORIO POR DEFECTO-->
            <label>Precio Total</label>
            <input type="number" name="Cantidad">
        </p>
        <p>
            <input type="submit" value="Registrar">

        </p>
    </form>

{% endblock %}
