{% extends "pedidos.html"%}
{% block nuevopedido %}

<!--Desde Cliente existente-->
<form action="." method="post">
        {% csrf_token %}
        <p>
            <label>Código</label>
            <input type="text" name="Codigo">
        </p>
        <p>
            <label>Fecha</label>
            <input type="date" name="Fecha">
        </p>
        <p>
            <label>Cliente</label>
            <select id="cliente" name="Cliente">
                <optgroup label="cliente">
                    {% for cli in lista_clientes %}
                    <option>{{cli.empresa}}</option>
                </optgroup>
            </select>
        </p>
        <p>
            <label>Descripcion</label>
            <input type="text" name="Descripcion">
        </p>
        <p>
            <label>Categoria</label>
            <input type="text" name="Categoria">
        </p>
        <p>
            <label>Tipo de componentes</label>
            <select id="groups" name="Tipo_componentes">
                <optgroup label="fruits">
                    <option>Banana</option>
                    <option selected>Cherry</option>
                    <option>Lemon</option>
                 </optgroup>
            </select>
        </p>

        <p>
            <input type="submit" value="Registrar">

        </p>
    </form>

{% endblock %}
