{% extends "base.html" %}
{% load static %}
{% block intro %}

<!-- DETALLE DEL PRODUCTO SELECIONADO -->
<table class="tabla">

    <tr>
        <th>Código</th>
        <td>{{pedido.codigo}}</td>
    </tr>
    <tr>
        <th>Productos</th>
        {% for ped in object.productos.all %}
        <td>{{ ped.referencia }}</td>
        {% endfor %}
    </tr>
    <tr>
        <th>Cliente</th>
        <td>{{pedido.datos_cliente.empresa}}</td>
    </tr>
    <tr>
        <th>Fecha</th>
        <td>{{pedido.fecha}}</td>
    </tr>
    <tr>
        <th>Cantidad</th>
        <td>{{pedido.cantidad}}</td>
    </tr>
    <tr>
        <th>Precio</th>
        <td>{{pedido.precio}}</td>
    </tr>

</table>

<article class="atras">
    <a href="http://127.0.0.1:8000/miApp/pedidos/" id="enlace">
        <div class="container-contact100-form-btn">
            <button class="contact100-form-btn limpito">
                Atrás
            </button>
        </div>
    </a>
</article>

<!-- ESTILO DE BLOQUE -->
<style>
    .tabla{
        border: 1px solid #B90C65;
        padding: 20px;
    }

    th{
    float: left;
    font-weight:bolder;
    color: #A3016D ;
    font-size: 18px;
    }

</style>

{% endblock intro %}


{% block contenido %}

<!-- ESTILO DE BLOQUE -->
<style>
	#main > #work{
		background: linear-gradient(135deg, #6A8FF0 0%, #E86DEC 100%);
		}

</style>

{% endblock contenido %}
