{% extends "base.html" %}


{% block intro %}
    <table class="tabla">

                <colgroup>
                    <col span="5">


                <thead>
                    <tr>
                        <td>Código</td>
                        <td>Productos</td>
                        <td>Cliente</td>
                        <td>Fecha</td>
                        <td>Cantidad</td>
                        <td>Precio</td>
                    </tr>
                </thead>

                        <tbody>
                    <tr>
                        <td>{{pedido.codigo}}</td>
                            {% for ped in object.productos.all %}
                        <td>{{ ped.referencia }}</td>
                            {% endfor %}
                        <td>{{pedido.datos_cliente.empresa}}</td> <!-- Aqui añadir un enlace a dicho cliente.cif-->
                        <td>{{pedido.fecha}}</td>
                        <td>{{pedido.cantidad}}</td>
                        <td>{{pedido.precio}}</td>
                    </tr>
                        </tbody>
    </table>
<style>


    .tabla{
        border: 1px solid #B90C65;
        padding: 20px;
    }

</style>

{% endblock intro %}


{% block contenido %}
<style>
	#main > #work{
		background: linear-gradient(135deg, #6A8FF0 0%, #E86DEC 100%);
		}
</style>
{% endblock contenido %}
