{% extends "base.html" %}
{% block contenido %}

<table class="tabla">
                <colgroup>
                    <col span="5">
                <a href = "productos/añadir">[Añadir]</a><!--NO FUNCIONA EL AÑADIR-->
                <thead>
                    <tr>
                        <td>Referencia</td>
                        <td>Nombre</td>
                        <td>Precio</td>
                        <td>Detalles </td>
                    </tr>
                </thead>

                <tbody>
                    {% for prod in lista_productos %}
                    <tr>
                        <td>{{prod.referencia}}</td>
                        <td>{{prod.nombre}}</td>
                        <td>{{prod.precio}}</td>
                        <td><a href = "productos/{{prod.id}}">[+]</a></td>
                    </tr>
                    {% endfor %}
                </tbody>
</table>
{% endblock %}
