{% extends "base.html" %}
{% block contenido %}

<table class="tabla">
                <colgroup>
                    <col span="5">
                    <h1> Detalles del producto </h1>
                <thead>
                    <tr>
                        <td>REFERENCIA</td>
                        <td>NOMBRE</td>
                        <td>DESCRIPCION</td>
                        <td>COMPONENTES</td>
                        <td>PRECIO</td>

                    </tr>
                </thead>

                <tbody>
                    <tr>
                        <td>{{pro.referencia}}</td>
                        <td>{{pro.nombre}}</td>
                        <td>{{pro.descripcion}}</td>
                        <td>{{pro.componentes}}</td>
                        <td>{{pro.precio}}</td>
                    </tr>
                </tbody>
</table>
{% endblock %}
