{% extends "base.html" %}
{% load static %}
{% block intro %}

<!-- DETALLE DEL PRODUCTO SELECIONADO -->
    <table class="tabla">
                    <tr>
                        <th>Referencia</th>
                        <td>{{productos.referencia}}</td>
                    </tr>
                    <tr>
                        <th>Nombre</th>
                    <td>{{ productos.nombre }}</td>
                    </tr>
                    <tr>
                        <th>Descripción</th>
                        <td>{{productos.descripcion}}</td>
                    </tr>
                    <tr>
                        <th>Categoría</th>
                        <td>{{productos.categoria}}</td>
                    </tr>
                    <tr>
                        <th>Componentes</th>
                        {% for comp in object.tipo_componentes.all %}
                        <td>{{comp.codigo}}</td>
                        {% endfor %}
                    </tr>
                    <tr>
                        <th>Precio</th>
                        <td>{{productos.precio}}</td>
                    </tr>
    </table>


<!-- ESTILO DE BLOQUE -->
<style>
    .tabla{
        border: 1px solid #B90C65;
        padding: 20px;
    }

    th{
        float: left;
        font-weight:bolder;
        color: #A3016D ;
        font-size: 18px;
    }
</style>

{% endblock intro %}


{% block contenido %}

<!-- ESTILO DE BLOQUE -->
 <style>
	#main > #work{
		background: linear-gradient(135deg, #6A8FF0 0%, #E86DEC 100%);
		}
</style>

{% endblock contenido %}
