{% extends "base.html" %}
{% block intro %}

    <h2>FACTURACIÓN TOTAL</h2>
    <input id="load-quote-btn" type="submit" value="enviar">



  <section class="text-center">
    <div class="container">
      <p id="codigo" class="lead my-4"></p>
      <p id="fecha" class="my-4"></p>
    </div>
  </section>

  <section class="text-center">
    <div class="container">
      <p id="quote" class="lead my-4"></p>
      <p id="character" class="my-4"></p>
    </div>
  </section>

<script type="text/javascript">

const SERVICE_URL = "http://127.0.0.1:8000/miApp/pedidosjs/";

let loadBtn = document.getElementById("load-quote-btn");

loadBtn.addEventListener("click", (event) => {
  loadData();
});

function loadData() {
  fetch(SERVICE_URL)
    .then((response) => response.json())
    .then((json) => {

    var txt = '{"name":"John", "age":30, "city":"New York"}'
    var obj = JSON.parse(txt);


      let txt = document.getElementById("quote");
      txt.textContent = `${json.1.codigo}`;

      let cElement = document.getElementById("character");
      cElement.textContent = `${json.2}`;


    });
}

loadData();

        </script>




{% endblock intro %}

{% block contenido %}



    <main>
        <h1>Task Manager App</h1>
        <h2>Nueva tarea:</h2>
        <form>
            <input type="text" name="id" placeholder="ID">
            <input type="date" name="fecha">
            <input type="text" name="responsable" placeholder="Responsable">
            <input type="text" name="descripcion" placeholder="Descripción">
            <input id="btn-nueva-tarea" type="submit" value="enviar">
        </form>
        <h2>Lista de tareas</h2>
        <div id="tareas"></div>
    </main>





<script>



</script>


<!--
const tareas = [
    {
        id : 1,
        descripcion : 'Lorem ipsum dolor sit amet, consectetur adipiscing elit.',
        responsable : 'Mikel',
        fecha : '03-10-2020'
    },
    {
        id : 2,
        descripcion : 'Lorem ipsum dolor sit amet, consectetur adipiscing elit.',
        responsable : 'Unai',
        fecha : '12-08-2020'
    },
    {
        id : 3,
        descripcion : 'Lorem ipsum dolor sit amet, consectetur adipiscing elit.',
        responsable : 'Ane',
        fecha : '11-12-2020'
    },
    {
        id : 4,
        descripcion : 'Lorem ipsum dolor sit amet, consectetur adipiscing elit.',
        responsable : 'Nora',
        fecha : '07-06-2020'
    }
];


function crearTarea(id, descripcion, responsable, fecha){
    return `
        <tr>
            <td>${id}</td>
            <td>${fecha}</td>
            <td>${responsable}</td>
            <td>${descripcion}</td>
        </tr>`;
}

function generarHTMLTablaTareas(tareas) {
    let tabla = `
        <table id="tabla-tareas">
            <thead>
                <tr>
                    <td>ID</td>
                    <td>Fecha</td>
                    <td>Responsable</td>
                    <td>Descripción</td>
                </tr>
            </thead>
            <tbody>
    `;
    for(const tarea of tareas) {
        tabla += crearTarea(tarea.id, tarea.descripcion, tarea.responsable, tarea.fecha);
    }
    tabla += '</tbody></table>'
    return tabla;
}

function crearTablaTareas(tareas){
    let tabla = generarHTMLTablaTareas(tareas);
    document.getElementById('tareas').innerHTML = tabla;
}

// Crear tabla de tareas
crearTablaTareas(tareas);

// Controlador para añadir nuevas tareas
document.getElementById('btn-nueva-tarea').addEventListener('click', function(event){
    event.preventDefault(); // Detener el envío del formulario

    let formulario = event.currentTarget.parentNode; // Acceder al formulario desde el botón

    // Crear un objeto Tarea con los datos del formulario
    let nuevaTarea = {
        id: formulario.children["id"].value,
        descripcion: formulario.children["descripcion"].value,
        responsable: formulario.children["responsable"].value,
        fecha: formulario.children["fecha"].value
    }


    // Añadir la nueva tarea al listado de tareas
    tareas.push(nuevaTarea);
    // Volver a crear la tabla (ahora la lista ya contiene la nueva tarea)
    crearTablaTareas(tareas);
});
</script>-->

{% endblock contenido %}
